.vue-inline-editor-input {
    padding: 0px;
    margin: 0px;
    border: 1px;
    border-style: dashed;
    z-index: 99999;
    display: none;
}

.vue-inline-editor-static {
    padding-bottom: 1px;
    border-bottom: dashed red 1px;
    cursor: hand;    
}
